
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

.top-bar {
    background: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    font-weight: 500;
}

.top-bar h4 {
    font-size: 14px;
    color: #000;
    font-weight: normal;
}

.header {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background: #ffffff;
}

.header img {
    height: 65px;
}

.header .title {
    text-align: center;
    flex-grow: 1;
}

.header .title h1 {
    font-size: 28px;
    color: #0b5fa5;
    font-weight: bold;
    letter-spacing: 1px;
}

.header .title p {
    font-size: 14px;
}


.navbar {
    background: #0b5fa5;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0 30px;
}

.navbar ul li a {
    display: block;
    padding: 15px 18px;
    color: #ffffff;
    text-decoration: none;
}

.navbar ul li a:hover {
    background: #084c85;
}


.faq-section {
    background: #f4f6f8;
    padding: 60px 20px;
}

.faq-container {
    max-width: 900px;
    margin: auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 6px;
}

.faq-container h1 {
    text-align: center;
    color: #0b5fa5;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #555;
    margin-bottom: 30px;
}

.faq-item {
    border-bottom: 1px solid #ddd;
}

.faq-question {
    width: 100%;
    background: none;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    color: #0b5fa5;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.faq-question:hover {
    background: #f0f5fa;
}

.faq-answer {
    display: none;
    padding: 0 15px 15px;
    color: #333;
    line-height: 1.6;
}


.faq-item.active .faq-answer {
    display: block;
}

.faq-item.active span {
    transform: rotate(45deg);
}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}
